{{!-- <div class="container">
    <h2>Add a product</h2>
        <form action="/add-product/save-product" method="post">
            <label for="manufacturer">branch:</label>
            <input type="text" name="manufacturer" id="manufacturer"><br><br>
            <label for="name">name:</label>
            <input type="text" id="name" name="name"><br><br>
            <label for="cover">cover:</label>
            <input type="text" id="cover" name="cover" value="img/products/surface-pro.jpg" readonly="true"><br><br>
            <label for="basePrice">basePrice:</label>
            <input type="text" id="basePrice" name="basePrice"><br><br>
            <label for="type">type</label>
            <input type="text" id="type" name="type"><br><br>
            <input type="submit" class="btn btn-primary" value="Add">
        </form>
</div> --}}

<div class="flex">
    <div class="col-lg-6 card">
        <div class="card-header">
            <strong>Thêm 1 sản phẩm</strong>
        </div>
        <div class="card-body card-block">
            <form action="/add/save" method="post" enctype="multipart/form-data">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="manufacturer">Hãng sản xuất:</label></div>
                    <div class="col-12 col-md-9">
                        <select name="manufacturer" id="manufacturer" class="form-control">
                            {{#each Manufacturers}}
                            <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="name">Tên sản phẩm:</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="name" name="name" class="form-control"> 
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="cover">Ảnh đại diện:</label></div>
                    <div class="col-12 col-md-9">
<!--                         <input type="text" id="cover" name="cover" value="img/products/surface-pro.jpg" readonly="true" class="form-control">-->
                            <input type="file" name="cover" id="cover">
                    </div>
                </div>
                <div class="row form-group">
                    <img src="" class="cover" alt="cover" id="coverImage" hidden>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="basePrice">Giá gốc:</label></div>
                    <div class="col-12 col-md-9">
                        <input type="number" id="basePrice" name="basePrice" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="type">Loại:</label></div>
                    <div class="col-12 col-md-9">
                        <select id="type" name="type" class="form-control">
                            <option value="Desktops">Desktops</option>
                            <option value="Laptops">Laptops</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="OS">OS:</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="OS" name="OS" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="display">Màn hình:</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="display" name="display" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="processor">CPU:</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="processor" name="processor" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="memory">RAM:</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="memory" name="memory" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="storage">Ổ cứng:</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="storage" name="storage" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="graphics">VGA:</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="graphics" name="graphics" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="ethernet">LAN:</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="ethernet" name="ethernet" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="wireless">Kết nối không dây:</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="wireless" name="wireless" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="audio">Audio:</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="audio" name="audio" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="power">Pin:</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="power" name="power" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="slogan">Slogan:</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="slogan" name="slogan" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label>Tóm tắt:</label></div>
                </div>
                <div class="row form-group" style="margin-left: 20px; margin-top: -20px">
                    <div class="col col-md-3"><label for="shortCPU">CPU:</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="shortCPU" name="shortCPU" class="form-control">
                    </div>
                </div>
                <div class="row form-group" style="margin-left: 20px">
                    <div class="col col-md-3"><label for="shortDisplay">Màn hình:</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="shortDisplay" name="shortDisplay" class="form-control">
                    </div>
                </div>
                <div class="row form-group" style="margin-left: 20px">
                    <div class="col col-md-3"><label for="shortOS">OS:</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="shortOS" name="shortOS" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label>Danh sách ảnh:</label></div>
                    <div class="col-12 col-md-9">
                        <input type="file" name="productImages" id="productImages" multiple onchange="addPreview(this);">
                    </div>
                </div>
                <div class="row form-group" id="previewProductImages">
                </div>

                <div class="card-footer">
                    <input type="submit" class="btn btn-primary btn-sm" value="Thêm">
                    <a href="/"><button type="button" class="btn btn-danger btn-sm">Bỏ qua</button></a>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>