<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Products Management</title>
      <script type="text/javascript" src="/js/core/jquery-latest.min.js"></script>
    <link rel='stylesheet' href='/css/animate.min.css' />
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/bootstrap-grid.css' />
    <link rel='stylesheet' href='/css/bootstrap-reboot.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/demo.css' />
    <link rel='stylesheet' href='/css/light-bootstrap-dashboard.css' />
    <link rel='stylesheet' href='/css/pe-icon-7-stroke.css' />
      <link rel='stylesheet' href='/css/style.css' />
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

  </head>
  <body>
  <div class="wrapper">
      <div class="sidebar" data-image="/img/sidebar-4.jpg" data-color="azure">
          <div class="sidebar-wrapper">
              <div class="logo">
                  <a href="https://www.facebook.com/ptanhcmus/" class="simple-text">
                      Team Invincible
                  </a>
              </div>
              <ul class="nav">
                  <li class="nav-item {{#if Products}}active{{/if}}">
                      <a class="nav-link" href="/products">
                          <i class="nc-icon nc-chart-pie-35"></i>
                          <p>Quản lý sản phẩm</p>
                      </a>
                  </li>
                  <li class="nav-item {{#if admin}}active{{/if}} {{#if account}}active{{/if}}">
                      <a class="nav-link" href="/users/{{user._id}}">
                          <i class="nc-icon nc-circle-09"></i>
                          <p>Thông tin cá nhân</p>
                      </a>
                  </li>
                  <li class="nav-item {{#if Users}}active{{/if}}">
                      <a class="nav-link " href="/users">
                          <i class="nc-icon nc-notes"></i>
                          <p>Danh sách tài khoản</p>
                      </a>
                  </li>
                  <li>
                      <a class="nav-link" href="/statistics">
                          <i class="nc-icon nc-paper-2"></i>
                          <p>Thống kê</p>
                      </a>
                  </li>
                  <li class="nav-item {{#if orders}}active{{/if}} {{#if order}}active{{/if}}">
                      <a class="nav-link" href="/orders">
                          <i class="nc-icon nc-atom"></i>
                          <p>Đơn hàng</p>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="main-panel">
          <!-- Navbar -->
          <nav class="navbar navbar-expand-lg">
              <div class="container-fluid">
                  <a class="navbar-brand" href="#pablo"> PC TRADING </a>
                  <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-bar burger-lines"></span>
                      <span class="navbar-toggler-bar burger-lines"></span>
                      <span class="navbar-toggler-bar burger-lines"></span>
                  </button>

              </div>
          </nav>
        {{{body}}}
          {{>footer}}
      </div>
  </div>
  </body>
<!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>-->
  <script type="text/javascript" src="/js/customjs.js"></script>
  <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/demo.js"></script>
  <script type="text/javascript" src="/js/light-bootstrap-dashboard.js"></script>
  <script type="text/javascript" src="/js/users.js"></script>
  <script type="text/javascript" src="/js/products.js"></script>
  <script type="text/javascript" src="/js/orders.js"></script>
  <script type="text/javascript" src="/js/statistics.js"></script>
    <script type="text/javascript">
        $('#datepicker').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#datepicker').datepicker({
        format: 'dd/mm/yyyy'
    });</script>
</html>
