<!DOCTYPE html>
<html>
  <head>
    <title>Products Management</title>
    <link rel='stylesheet' href='/css/animate.min.css' />
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/bootstrap-grid.css' />
    <link rel='stylesheet' href='/css/bootstrap-reboot.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/demo.css' />
    <link rel='stylesheet' href='/css/light-bootstrap-dashboard.css' />
    <link rel='stylesheet' href='/css/pe-icon-7-stroke.css' />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico">

  </head>
  <body>
    {{{body}}}
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="../js/customjs.js"></script>
  <script type="text/javascript" src="../js/bootstrap.bundle.js"></script>
  <script type="text/javascript" src="../js/bootstrap.js"></script>
  <script type="text/javascript" src="../js/demo.js"></script>
  <script type="text/javascript" src="../js/light-bootstrap-dashboard.js"></script>
</html>
