<div class="content">
    <div class="container-fluid">
        <div class="row">
            <form action="/signin/submit" method="post">

                <div class="container">
                    <label for="email"><b>Email</b></label>
                    <input type="email" placeholder="Nhập Email" name="email" required>

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Nhập password" name="password" required>

                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
