.flex{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
}

.cover {
    height: 200px;
    width: 200px;
    margin-left: 250px;
}