<div class="flex">
    <div class="col-lg-10 card col-lg-offset-1">
        <div class="card-header d-flex align-items-center">
            <h3><strong>Thêm 1 sản phẩm mới</strong></h3>
        </div>
        <div class="card-body card-block">
            <form action="/products/add/save" method="post" enctype="multipart/form-data">
                <div class="row form-group">
                    <div class="col col-md-2 d-flex"><label class="align-self-center" for="manufacturer"><strong>Hãng sản xuất:</strong></label></div>
                    <div class="col-12 col-md-10 input-group mb-3">
                        <select name="manufacturer" id="manufacturer" class="form-control">
                            {{#each Manufacturers}}
                            <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#Manufacturer-Modal" style="width: 180px; font-size:12pt">Thêm hãng sản suất</button>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2 d-flex"><label class="align-self-center" for="name"><strong>Tên sản phẩm:</strong></label></div>
                    <div class="col-12 col-md-10">
                        <input type="text" id="name" name="name" class="form-control" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2 d-flex"><label class="align-self-center" for="cover"><strong>Ảnh đại diện:</strong></label></div>
                    <div class="col-12 col-md-10">
                            <input type="file" name="cover" id="cover" required>
                    </div>
                </div>
                <div class="row form-group">
                    <img src="" class="cover" alt="cover" id="coverImage" hidden>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2 d-flex"><label class="align-self-center" for="basePrice"><strong>Giá gốc:</strong></label></div>
                    <div class="col-12 col-md-10">
                        <input type="number" id="basePrice" name="basePrice" class="form-control" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2 d-flex"><label class="align-self-center" for="type"><strong>Loại:</strong></label></div>
                    <div class="col-12 col-md-10">
                        <select id="type" name="type" class="form-control" required>
                            <option value="Desktops">Desktops</option>
                            <option value="Laptops">Laptops</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2 d-flex"><label class="align-self-center" for="OS"><strong>OS:</strong></label></div>
                    <div class="col-12 col-md-10">
                        <input type="text" id="OS" name="OS" class="form-control" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2 d-flex"><label class="align-self-center" for="display"><strong>Màn hình:</strong></label></div>
                    <div class="col-12 col-md-10">
                        <input type="text" id="display" name="display" class="form-control" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2 d-flex"><label class="align-self-center" for="processor"><strong>CPU:</strong></label></div>
                    <div class="col-12 col-md-10">
                        <input type="text" id="processor" name="processor" class="form-control" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2 d-flex"><label class="align-self-center" for="memory"><strong>RAM:</strong></label></div>
                    <div class="col-12 col-md-10">
                        <input type="text" id="memory" name="memory" class="form-control" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2 d-flex"><label class="align-self-center" for="storage"><strong>Ổ cứng:</strong></label></div>
                    <div class="col-12 col-md-10">
                        <input type="text" id="storage" name="storage" class="form-control" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2 d-flex"><label class="align-self-center" for="graphics"><strong>VGA:</strong></label></div>
                    <div class="col-12 col-md-10">
                        <input type="text" id="graphics" name="graphics" class="form-control" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2 d-flex"><label class="align-self-center" for="ethernet"><strong>LAN:</strong></label></div>
                    <div class="col-12 col-md-10">
                        <input type="text" id="ethernet" name="ethernet" class="form-control" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2 d-flex"><label class="align-self-center" for="wireless"><strong>Kết nối không dây:</strong></label></div>
                    <div class="col-12 col-md-10">
                        <input type="text" id="wireless" name="wireless" class="form-control" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2 d-flex"><label class="align-self-center" for="audio"><strong>Audio:</strong></label></div>
                    <div class="col-12 col-md-10">
                        <input type="text" id="audio" name="audio" class="form-control" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2 d-flex"><label class="align-self-center" for="power"><strong>Pin:</strong></label></div>
                    <div class="col-12 col-md-10">
                        <input type="text" id="power" name="power" class="form-control" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2 d-flex"><label class="align-self-center" for="slogan"><strong>Slogan:</strong></label></div>
                    <div class="col-12 col-md-10">
                        <input type="text" id="slogan" name="slogan" class="form-control" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2 d-flex"><label><strong>Tóm tắt:</strong></label></div>
                </div>
                <div class="row form-group" style="margin-left: 20px; margin-top: -20px">
                    <div class="col col-md-2 d-flex"><label class="align-self-center" for="shortCPU">CPU:</label></div>
                    <div class="col-12 col-md-10">
                        <input type="text" id="shortCPU" name="shortCPU" class="form-control" required>
                    </div>
                </div>
                <div class="row form-group" style="margin-left: 20px">
                    <div class="col col-md-2 d-flex"><label  class="align-self-center" for="shortDisplay">Màn hình:</label></div>
                    <div class="col-12 col-md-10">
                        <input type="text" id="shortDisplay" name="shortDisplay" class="form-control" required>
                    </div>
                </div>
                <div class="row form-group" style="margin-left: 20px">
                    <div class="col col-md-2 d-flex"><label  for="shortOS" class="align-self-center">OS:</label></div>
                    <div class="col-12 col-md-10">
                        <input type="text" id="shortOS" name="shortOS" class="form-control" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2 d-flex"><label  class="align-self-center"><strong>Danh sách ảnh:</strong></label></div>
                    <div class="col-12 col-md-10">
                        <input type="file" name="productImages" id="productImages" multiple onchange="addPreview(this);" required>
                    </div>
                </div>
                <div class="row form-group" id="previewProductImages">
                </div>

                <div class="card-footer d-flex flex-column">
                    <button type="submit" class="btn btn-primary btn-sm align-self-end" style="width:150px; margin-bottom: 5px">Lưu</button>
                    <a href="/" class="align-self-end"><button type="button" class="btn btn-danger btn-sm" style="width:150px">Bỏ qua</button></a>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="Manufacturer-Modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm nhà sản xuất</h5>
                <button type="button" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="pull-right">&times;</span>
                </button>
            </div>
            <form id="add-manufacturer-form" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="text" name="manufacturerName" placeholder="Tên nhà sản xuất">
                    <br>
                    <label class="btn btn-sm btn-danger"><input type="file" name="manufacturerLogo" hidden>Thêm ảnh</label>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-default" >Lưu</button>
                </div>
            </form>
        </div>

    </div>
</div>